[submodule "external/hopscotch-map"]
	path = external/hopscotch-map
	url = https://github.com/Tessil/hopscotch-map
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
